@import "tailwindcss";

@theme {
  --color-main-color: #FF9900;
  --color-dark-color: #1a202c;
  --color-primary-color: #1a202c;
  --color-texts-color: #fafcff
}

.main {
  background-color: #1a1a1a;
  color: white;
  font-family: "Orbitron Regular", sans-serif;
  height: 100dvh;
  padding: 0;
}